DB_URI="mongodb://localhost:27017/bcha-ze"
CLOUDINARY_CLOUD_NAME=vhio
CLOUDINARY_API_KEY=123444363344182
CLOUDINARY_API_SECRET=-_6cSiigdjkcn_GoMddg-Y6nD4
NODE_ENV=development
PORT=3500
JWT_SECRET_KEY=iouhg32!@euiyf`>
FLW_SECRET_HASH=knih32e